.login {
    background-image: url('../img/fundo-login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0px 80px;

    @include respond(big-desktop) {
        height: 100vh;
    }
}