{% extends "base.html" %}

{% block content %}
<section>

    <div class="container">

        <div class="row">

            <div class="col-12 px-0">
                <h1 class="c-brown section__title u-title-after">Funcionários</h1>
            </div>

            <div class="col-12 historic__card p-5">

                <div class="col-12 px-0 d-flex">

                    <div class="col-3 pl-0">
                        <input class="w-100" type="text" name="" id="" placeholder="Nome">
                    </div>
                    
                    <div class="col-3">
                        <select class="w-100" name="" id="">
                            <option value="" disabled>Filtrar Status:</option>
                            <option value="">Ver todos</option>
                            <option value="">Cancelados</option>
                            <option value="">Concluídos</option>
                            <option value="">Pendente</option>
                        </select>
                    </div>

                    <div class="col-3">
                        <input class="w-100" type="date" name="" id="">
                    </div>

                    <div class="col-2 text-right">
                        <button class="bgc-red2 btn__pattern" type="submit">Limpar</button>
                    </div>

                    <div class="col-1">
                        <button class="bgc-blue btn__pattern" type="submit">
                            <img src="../static/img/icon/add_funcionario.svg" alt="" class="img-fluid">
                        </button>
                    </div>
                </div>

                <div class="col-12 pl-0 d-flex align-items-center historic__card--filter">
                    <h3>Mostrar</h3>
                    <input type="number" name="" id="">
                    <label for="">Agendamentos</label>
                </div>

                <div class="col-12 px-0 employees__card">

                    <div class="col-12 px-4 py-3 d-flex align-items-center">

                        <div class="col-3">
                            <h2 class="c-brown">Nome</h2>
                        </div>

                        <div class="col-3">
                            <h2 class="c-brown">Cargo</h2>
                        </div>

                        <div class="col-3">
                            <h2 class="c-brown">Data de Admissão</h2>
                        </div>

                        <div class="col-3">
                            <h2 class="c-brown">Opções</h2>
                        </div>

                    </div>

                    <div class="col-12 px-4 py-3 my-4 d-flex align-items-center bgc-gray3">

                        <div class="col-3">
                            <h3 class="c-black">Vinícius Dias</h3>
                        </div>
                        
                        <div class="col-3">
                            <h3 class="c-black">Barbeiro</h3>
                        </div>

                        <div class="col-3">
                            <h3 class="c-black">26/20/2020</h3>
                        </div>

                        <div class="col-3 d-flex px-0">

                            <div class="col-5">
                                <button class="bgc-blue btn__pattern py-2" type="submit">
                                    Editar
                                </button>
                            </div>

                            <div class="col-7 px-0">
                                <button class="bgc-red2 btn__pattern py-2 px-4 d-flex align-items-center justify-content-center" type="submit">
                                    <p class="m-0 p-0">Excluir</p>
                                    <img src="../static/img/icon/excluir.svg" alt="" class="u-img-delete ml-2">
                                </button>
                            </div>
                            
                        </div>

                    </div>

                    <div class="col-12 px-4 py-3 my-4 d-flex align-items-center bgc-gray3">

                        <div class="col-3">
                            <h3 class="c-black">Vinícius Dias</h3>
                        </div>
                        
                        <div class="col-3">
                            <h3 class="c-black">Barbeiro</h3>
                        </div>

                        <div class="col-3">
                            <h3 class="c-black">26/20/2020</h3>
                        </div>

                        <div class="col-3 d-flex px-0">

                            <div class="col-5">
                                <button class="bgc-blue btn__pattern py-2" type="submit">
                                    Editar
                                </button>
                            </div>

                            <div class="col-7 px-0">
                                <button class="bgc-red2 btn__pattern py-2 px-4 d-flex align-items-center justify-content-center" type="submit">
                                    <p class="m-0 p-0">Excluir</p>
                                    <img src="../static/img/icon/excluir.svg" alt="" class="u-img-delete ml-2">
                                </button>
                            </div>
                            
                        </div>

                    </div>

                    <div class="col-12 px-4 py-3 my-4 d-flex align-items-center bgc-gray3">

                        <div class="col-3">
                            <h3 class="c-black">Vinícius Dias</h3>
                        </div>
                        
                        <div class="col-3">
                            <h3 class="c-black">Barbeiro</h3>
                        </div>

                        <div class="col-3">
                            <h3 class="c-black">26/20/2020</h3>
                        </div>

                        <div class="col-3 d-flex px-0">

                            <div class="col-5">
                                <button class="bgc-blue btn__pattern py-2" type="submit">
                                    Editar
                                </button>
                            </div>

                            <div class="col-7 px-0">
                                <button class="bgc-red2 btn__pattern py-2 px-4 d-flex align-items-center justify-content-center" type="submit">
                                    <p class="m-0 p-0">Excluir</p>
                                    <img src="../static/img/icon/excluir.svg" alt="" class="u-img-delete ml-2">
                                </button>
                            </div>
                            
                        </div>

                    </div>

                    <div class="col-12 px-4 py-3 my-4 d-flex align-items-center bgc-gray3">

                        <div class="col-3">
                            <h3 class="c-black">Vinícius Dias</h3>
                        </div>
                        
                        <div class="col-3">
                            <h3 class="c-black">Barbeiro</h3>
                        </div>

                        <div class="col-3">
                            <h3 class="c-black">26/20/2020</h3>
                        </div>

                        <div class="col-3 d-flex px-0">

                            <div class="col-5">
                                <button class="bgc-blue btn__pattern py-2" type="submit">
                                    Editar
                                </button>
                            </div>

                            <div class="col-7 px-0">
                                <button class="bgc-red2 btn__pattern py-2 px-4 d-flex align-items-center justify-content-center" type="submit">
                                    <p class="m-0 p-0">Excluir</p>
                                    <img src="../static/img/icon/excluir.svg" alt="" class="u-img-delete ml-2">
                                </button>
                            </div>
                            
                        </div>

                    </div>

                    <div class="col-12 px-4 py-3 my-4 d-flex align-items-center bgc-gray3">

                        <div class="col-3">
                            <h3 class="c-black">Vinícius Dias</h3>
                        </div>
                        
                        <div class="col-3">
                            <h3 class="c-black">Barbeiro</h3>
                        </div>

                        <div class="col-3">
                            <h3 class="c-black">26/20/2020</h3>
                        </div>

                        <div class="col-3 d-flex px-0">

                            <div class="col-5">
                                <button class="bgc-blue btn__pattern py-2" type="submit">
                                    Editar
                                </button>
                            </div>

                            <div class="col-7 px-0">
                                <button class="bgc-red2 btn__pattern py-2 px-4 d-flex align-items-center justify-content-center" type="submit">
                                    <p class="m-0 p-0">Excluir</p>
                                    <img src="../static/img/icon/excluir.svg" alt="" class="u-img-delete ml-2">
                                </button>
                            </div>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<!-- <h1>Listagem de funcionarios</h1>

<div>
    <table>
        <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for barbeiro in barbeiros %}
            <tr>
                <td>{{barbeiro['nome']}}</td>
                <td>{{barbeiro['email']}}</td>
                <td>
                    <a href="#">[Editar]</a>
                    <span>|</span>
                    <a href="#">[Excluir]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> -->
{% endblock %}