// Cores
$color-primary: #150303;

$color-secondary: #fb0000;

$color-tertiary: #2d2d2d;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$open-sans: 'Open Sans', sans-serif;;