{% extends "base.html" %}

{% block content %}

<nav class="menu__side">
  <ul>
    <a href="">
      <li>
        <img src="../static/img/icon/usuario-branco.png" alt="">
        <p class="d-block c-white mt-3">Perfil</p>
      </li>
    </a>

    <a href="">
      <li class="mt-5">
        <img src="../static/img/icon/calendario.png" alt="">
        <p class="d-block c-white mt-3">Agendar</p>
      </li>
    </a>

    <a href="">
      <li class="mt-5">
        <img src="../static/img/icon/historico.png" alt="">
        <p class="d-block c-white mt-3">Histórico</p>
      </li>
    </a>

    <a href="">
      <li class="mt-5">
        <img src="../static/img/icon/sair.png" alt="">
        <p class="d-block c-white mt-3">Sair</p>
      </li>
    </a>

  </ul>

</nav>

<section style="height: 100vh; padding: 160px 0px 80px;">
  <div class="container">

    <div class="row">

      <div class="col-xl-12 d-flex justify-content-center">

        <div class="col-12">
          <h1 class="c-brown section__title">Agende seu horário</h1>
          <p class="c-brown section__subtitle">Escolha o melhor horário para o seu atendimento. É rápido e prático!</p>
        </div>

      </div>

      <form method="POST" class="col-12 d-flex mt-5">

        <div class="col-6 d-flex">

          <div class="col-4 px-0">

            <ul>
              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro1" checked>
                <label class="c-brown schedule__barber" for="barbeiro1">Barbeiro 1</label>
              </li>

              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro2">
                <label class="c-brown schedule__barber" for="barbeiro2">Barbeiro 2</label>
              </li>

              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro3">
                <label class="c-brown schedule__barber" for="barbeiro3">Barbeiro 3</label>
              </li>

            </ul>

          </div>

          <div class="col-8">
            <input type="date" name="" id="" value="26/09/2021">
          </div>

        </div>

        <div class="col-6 ">

          <div class="col-12 d-flex pr-5">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3 pr-5">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3 pr-5">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3 pr-5">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-5 pr-0">

            <div class="col-6 px-0">

              <div class="col-12 px-0">
                <label class="schedule__service--label" for="serviço">Serviço:</label>
              </div>

              <select class="w-100 schedule__service" name="serviço" id="serviço">
                <option value="">Selecione</option>
                <option value="">Corte de Cabelo</option>
                <option value="">Barba</option>
              </select>

            </div>

            <div class="col-6 d-flex justify-content-end align-items-end pr-0">
              <button class="bgc-red2 btn__pattern" type="submit">Confirmar</button>
            </div>
            
          </div>

        </div>

      </form>

    </div>

  </div>
</section>

{% endblock %}