{% extends "base.html" %}

{% block content %}

<section style="height: 100vh; padding: 160px 0px 80px;">
  <div class="container">

    <div class="row">

      <div class="col-xl-12 d-flex justify-content-center">

        <div class="col-12">
          <h1 class="c-brown section__title">Agende seu horário</h1>
          <p class="c-brown section__subtitle">Escolha o melhor horário para o seu atendimento. É rápido e prático!</p>
        </div>

      </div>

      <form method="POST" class="col-12 d-flex mt-5">

        <div class="col-6 d-flex">

          <div class="col-4 px-0">

            <ul>
              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro1" checked>
                <label class="c-brown schedule__barber" for="barbeiro1">Barbeiro 1</label>
              </li>

              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro2">
                <label class="c-brown schedule__barber" for="barbeiro2">Barbeiro 2</label>
              </li>

              <li class="mb-4">
                <input class="schedule__barber--input" type="radio" name="barbeiro" id="barbeiro3">
                <label class="c-brown schedule__barber" for="barbeiro3">Barbeiro 3</label>
              </li>

            </ul>

          </div>

          <div class="col-8">
            <input type="date" name="" id="" value="26/09/2021">
          </div>

        </div>

        <div class="col-6 ">

          <div class="col-12 d-flex">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

          <div class="col-12 d-flex mt-3">

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario1" name="size">

                <label for="barbeiro_horario1" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario2" name="size">

                <label for="barbeiro_horario2" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario3" name="size">

                <label for="barbeiro_horario3" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

            <div class="col-3 bgc-brown schedule__time">

              <div class="form__radio-group">
                <input type="radio" class="form__radio-input" id="barbeiro_horario4" name="size">

                <label for="barbeiro_horario4" class="form__radio-label">

                  <span class="form__radio-button"></span>
                  10:00 AM
                </label>
              </div>

            </div>

          </div>

        </div>

      </form>

    </div>

  </div>
</section>

{% endblock %}