{% extends "base.html" %}

{% block content %}
	<div id="alerta"></div>
	<section style="height: 100vh; padding: 70px 0px 80px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 d-flex justify-content-center">
					<div class="col-12">
						<h1 class="c-brown section__title">Agende seu horário</h1>
						<p class="c-brown section__subtitle">Escolha o melhor horário para o seu atendimento. É rápido e prático!</p>
					</div>
				</div>

				<form action="{{ url_for('cadastrar_reserva') }}" method="POST" class="col-12 d-flex mt-5">
					<div class="col-6 d-flex">
						<div class="col-4 px-0">
							<ul>
								{% for barbeiro in dados['barbeiros'] %}
									{%if barbeiro.id_barbeiro == dados['barbeiro_escolhido'] %}
										<li class="mb-4">
											<input class="schedule__barber--input barbeiro" type="radio" value="{{barbeiro.id_barbeiro}}" name="barbeiro" id="barbeiro{{barbeiro.id_barbeiro}}" oninput="buscaQuadroHorariosAtualizado()" checked>
											<label class="c-brown schedule__barber" for="barbeiro{{barbeiro.id_barbeiro}}">{{ barbeiro.nome }}</label>
										</li>
									{% else %}
									<li class="mb-4">
										<input class="schedule__barber--input barbeiro" type="radio" value="{{barbeiro.id_barbeiro}}" name="barbeiro" id="barbeiro{{barbeiro.id_barbeiro}}" oninput="buscaQuadroHorariosAtualizado()">
										<label class="c-brown schedule__barber" for="barbeiro{{barbeiro.id_barbeiro}}">{{ barbeiro.nome }}</label>
									</li>
									{% endif %}

								{% endfor %}
							</ul>
						</div>
						<div class="col-8">
							<input type="date" id="calendario" name="data" onchange="buscaQuadroHorariosAtualizado()" required>
						</div>
					</div>
			
					<div class="col-6 ">
						<div id="quadro-horarios" class="schedule-area">
							{% for horario in dados['quadro_de_horarios'] %}
							<div class="col-3 bgc-brown schedule__time">
								<div class="form__radio-group">
									<input type="radio" id="hour{{horario.index}}" class="form__radio-input" name="horario" value="{{horario}}">
									<label class="form__radio-label" for="hour{{horario.index}}">
										<span class="form__radio-button"></span>
										{{horario}}
									</label>
								</div>
							</div>
							{% endfor %}
						</div>
			
						<div class="col-12 d-flex mt-5 pr-0">
							<div class="col-6 px-0">
								<div class="col-12 px-0">
									<label class="schedule__service--label" for="servico">Serviço:</label>
								</div>
								<select class="w-100 schedule__service" name="servico" id="servico" required>
									<option value="" selected>Selecione</option>
									{% for servico in dados['servicos'] %}
									<option value="{{servico.id_servico}}">{{servico.nome}} - R$ 25,00</option>
									{% endfor %}
								</select>
							</div>
				
							<div class="col-6 d-flex justify-content-end align-items-end pr-0">
								<button class="bgc-red2 btn__pattern" type="submit" onclick="verificaHorarios()">Confirmar</button>
							</div>
					  	<div class="vindex">
						  	<a href="#" onclick="history.go(-1)" class="btn btn-primary btn-lg">Voltar</a>
						 </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}