<h1>Listagem de funcionarios</h1>

<div>
    <table>
        <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for barbeiro in barbeiros %}
            <tr>
                <td>{{barbeiro['nome']}}</td>
                <td>{{barbeiro['email']}}</td>
                <td>
                    <a href="#">[Editar]</a>
                    <span>|</span>
                    <a href="#">[Excluir]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>