.btn {

    &__pattern {
    height: fit-content;
    border: none;
    border-radius: 50px;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $white;
    cursor: pointer;

    &.bgc-blue {
        padding: 8px 15px;
        border-radius: 5px;

        img {
            width: 30px;
        }
    }

    &:focus {
        outline: none;
    }

    }



}