body {
  font-family: "Chivo", sans-serif !important;
  font-weight: 400;
} 

.login {
  &__card {
    &--title {
      font-size: 6rem;
      line-height: 6rem;
    }
  }

  &__form {
    &--title {
      font-size: 5rem;
      font-weight: 600;

      @include respond(phone) {
        font-size: 3.5rem;
      }
    }
  }

}

.section {

  &__title {
    font-size: 4.5rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1.6rem;
  }
}